@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IBM";
  src: url(./fonts/IBM/IBMPlexSans-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: "IBM";
  src: url(./fonts/IBM/IBMPlexSans-ExtraLight.ttf);
  font-weight: 200;
}

@font-face {
  font-family: "IBM";
  src: url(./fonts/IBM/IBMPlexSans-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "IBM";
  src: url(./fonts/IBM/IBMPlexSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "IBM";
  src: url(./fonts/IBM/IBMPlexSans-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "IBM";
  src: url(./fonts/IBM/IBMPlexSans-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "IBM";
  src: url(./fonts/IBM/IBMPlexSans-Bold.ttf);
  font-weight: 700;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: url(../images/register/register-background.png);
  font-family: "IBM";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
